services:
  app:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      - DJANGO_SETTINGS_MODULE=keyron_project.settings  # この行を追加

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=keyron_db
      - POSTGRES_USER=keyron_user
      - POSTGRES_PASSWORD=keyron_password

volumes:
  postgres_data: