version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 keyron_project.wsgi:application
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    env_file:
      - .env.prod
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=keyron_user
      - POSTGRES_PASSWORD=keyron_password
      - POSTGRES_DB=keyron_db

volumes:
  postgres_data:
  static_volume:
  media_volume:
